单选
<div class="{{d.class1||g.class1}}">
	{{# if(d.title) { }}
	<label class="{{d.labelClass||g.labelClass}}">{{d.title}}</label>
	{{# } }}
	<div class="{{d.class2||g.class2}}" >
		<select id="{{d.name}}" name="{{d.name}}" lay-search="" {{d.selectAttr}} {{(d.selectClass||g.selectClass)?'class="'+(d.selectClass||g.selectClass)+'"':''}}>
			{{# var values=d.values||g.values; for(var item of values){ }}
			<option value="{{item.value}}">{{item.html||item.value}}</option>
			{{# } }}
		</select>
	</div>
</div>
纯文本
<div class="{{d.class1||g.class1}}">
	{{# if(d.title) { }}
	<label class="{{d.labelClass||g.labelClass}}">{{d.title}}</label>
	{{# } }}
	<div class="{{d.class2||g.class2}}" >
  		<input type="text" id="{{d.name}}" name="{{d.name}}" autocomplete="off" class='{{d.inputClass||g.inputClass}}'>
	</div>
</div>
日期
<div class="{{d.class1||g.class1}}">
	{{# if(d.title) { }}
	<label class="{{d.labelClass||g.labelClass}}">{{d.title}}</label>
	{{# } }}
	<div class="{{d.class2||g.class2}}" >
		<input type="text" id="{{d.name}}" name="{{d.name}}" autocomplete="off" class="validate_wd_date {{d.inputClass||g.inputClass}}" lay-verify="date|required" onclick="layui.laydate({elem: this})">
	</div>
</div>
多选
<div class="{{d.class1||g.multiClass1}}">
	{{# if(d.title) { }}
	<label class="{{d.labelClass||g.labelClass}}">{{d.title}}</label>
	{{# } }}
	<div class="{{d.class2||g.class2}}" >
		<input  class="{{d.multiInputClass||g.multiInputClass}}"/>
		<select id="{{d.name}}" name="{{d.name}}" {{d.multiAttr}} {{(d.multiClass||g.multiClass)?'class="'+(d.multiClass||g.multiClass)+'"':''}} multiple render="false">
			{{# var values=d.values||g.values; for(var item of values){ }}
			<option value="{{item.value}}">{{item.html||item.value}}</option>
			{{# } }}
		</select>
	</div>
</div>
bigText
<div class="layui-inline my-col12" style="width:calc(100% - 10px);margin-bottom: 5px;">
	<label class="layui-form-label mycol" style="width: 100%;height: 30px">
		<span style="float: left;">{{d.title}}</span>
		<div class="my-col-auto my-col" style="justify-content: center">
			<button class="layui-btn layui-btn-mini  layui-btn-normal" onclick="commonGgwsUtil.openCyyChoose('{{d.name}}','');" style="width: 70px;margin-left: -55px;">{{d.button}}</button>
		</div>
	</label>
	<div class="layui-input-inline" style="width: 100%">
		<textarea id="{{d.name}}" name="{{d.name}}" class="layui-textarea" style="min-height: 70px;"></textarea>
	</div>
</div>
单位
<div class="{{d.class1||g.class1}}">
	{{# if(d.title) { }}
	<label class="{{d.labelClass||g.labelClass}}">{{d.title}}</label>
	{{# } }}
	<div class="{{d.class2||g.class2}}" >
		<input type="text" id="{{d.name}}" name="{{d.name}}" autocomplete="off" class='{{d.inputClass||g.inputClass}}'>
		<span style="display: inline-block;height: 23px;width: 57px;line-height: 23px;border: 1px solid #e6e6e6;">{{d.unit}}</span>
	</div>
</div>
组合
<div class="my-col12 my-col">
	<label class="layui-form-label" style="height: {{d.num*30-5}}px;line-height: {{d.num*30-7}}px;">{{d.title}}</label>
	<div class="layui-input-inline my-col-auto myGrid" >
		{{!# d.form.global=Object.assign({},g,d.form.global);str += analyses(d.form,content); #!}}
	</div>
</div>