.flex{
 	display: flex;
 	align-items: center;
 	justify-content: flex-start;
 	flex-wrap: wrap;
 	flex-direction: column;
}
.flex.nowrap{
 	flex-wrap: nowrap;
}
.flex.row{
 	flex-direction: row;
}
.flex>.auto{
	flex:1;
}
.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}